/****** This applies from 0px to 480px --> MOBILE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  background: #f4f4f4;
  color: #141414
}

.board {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap;
  
  margin: 1em;
}

.column {
  background: #b7e3e4;
  flex: 1 1 auto;

  margin: 0.5em;
  padding: 1em;

  border-radius: 3px;;
}

.card {
  display: flex;
  width: 80vw;
  min-height: 100vh;
  flex-direction: column;
}

header {
  width: 100vw;
  height: 5vh;
}

section{
  flex: 1;
}

section {
  background: #b7e3e4;

}

section p {
  background: #FFF;
  padding: 1em;
  margin: .5em;
}

/****** This applies from 480px onwards --> TABLET */

@media (min-width: 480px) {
  html,
  body {
    background: pink;
  }
}

/****** This applies from 1025px onwards --> DESKTOP */

@media (min-width: 1025px) {
  html,
  body {
    background: #f4f4f4;
    color: #141414
  }

  .board {
    display: flex;
    min-height: 100vh;
    /* align-items: stretch; */

    margin: 0.5em;
  }

  .column {
    background: #b7e3e4;
    flex: 1 1 auto;

    margin: 0.5em;
    padding: 1em;

    border-radius: 3px;;
  }

  .card{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    width: 20vw;

  }

  header,
  footer {
    height: 60px;
  }

  section{
    flex: 1;
  }

  footer:hover{
    background-color: yellow;
  }
}